


body{
    background: rgba(177, 166, 166, 0.719);
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
    color: rgb(66, 65, 65);
    margin: 0;
}
header{
    background: rgb(66, 65, 65);
    color:white;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.content{
    margin: 20px 50px; 
    /* border: 2px rgb(66, 65, 65) solid; */
}

.buttons li{
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
}

.buttons li a{
    text-decoration: none;
    border-radius: 10px;
    color: rgb(66, 65, 65);
}

.startbtn{
    display: block;
    width: 130px;
    height: 30px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    box-shadow: 5px 7px 15px rgb(114, 114, 114);
}

.stopbtn{
    display: block;
    width: 130px;
    height: 30px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    box-shadow: 5px 7px 15px rgb(114, 114, 114);
}

.startbtn:hover{
    background: rgb(7, 197, 7);
    color: white;
}

.stopbtn:hover{
    background: red;
    color: white;
}
